<div class="filter">
  <div class="filter-type">
    <p>Work</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
  <div class="filter-type">
    <p>Following</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
  <div class="filter-type">
    <p>Popular</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
  <div class="filter-type">
    <p>Post</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
  <div class="filter-type">
    <p>Gender</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
  <div class="filter-type">
    <p>Location</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
  <div class="filter-type">
    <p>Profession</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
</div>
