.container {
  display: flex;
  padding: 0px;
}

.main {
  margin: 1em 2em;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form {
  flex-grow: 2;
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 15px;
  margin-top: 3px;
}

/* .text-input {
  display: block;
  width: 100%;
} */

input[type="search"] {
  height: 30px;
  padding: 18px;
  padding-left: 50px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  flex-grow: 1;
}

input[type="search"]:focus {
  outline-color: #66afe9;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.search-btn {
  position: absolute;
  right: 5px;
}

.search-btn button {
  padding: 5px;
  background-color: #3a319e;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #3a319e;
  width: 80px;
}

.notification {
  flex-grow: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.bell {
  position: relative;
}

.notification .no {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bc3336;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no p {
  color: #ffffff;
  font-size: 10px;
}

.user-image {
  position: relative;
}

.img-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #2ed05a;
  position: absolute;
  bottom: 0;
  right: 0;
}

.notification .user-image img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.notification .user {
  color: #868499;
}
