<div class="header">
  <form action="">
    <div class="search-icon">
      <svg-icon
        src="../../../assets/icons/search.svg"
        [svgStyle]="{ 'width.px': 20, height: 20, fill: '#868499' }"
      ></svg-icon>
    </div>
    <input
      type="search"
      name="searchbox"
      placeholder="Find Something"
      [(ngModel)]="searchText"
    />
    <div class="search-btn">
      <button type="submit" (click)="onSearch()">Search</button>
    </div>
  </form>
  <div class="notification">
    <div class="bell">
      <svg-icon
        src="../../../assets/icons/bell.svg"
        [svgStyle]="{ 'width.px': 20, height: 20, fill: '#3A319E' }"
      ></svg-icon>
      <div class="no">
        <p>3</p>
      </div>
      <div class="drop-down">
        <img src="https://picsum.photos/200/300" alt="user" />
        <div class="message">
          <p>Michael liked you!</p>
          <p>About 20 minutes ago.</p>
        </div>
        <svg-icon
          src="../../../assets/icons/heart-fill.svg"
          [svgStyle]="{ 'width.px': 10, height: 10, fill: '#CB3632' }"
        ></svg-icon>
      </div>
    </div>
    <div class="user-image">
      <img src="https://picsum.photos/200/300" alt="user" />
      <div class="img-icon"></div>
    </div>
    <p class="user">Abigail</p>
    <svg-icon
      src="../../../assets/icons/down.svg"
      [svgStyle]="{ 'width.px': 10, height: 10, fill: '#868499' }"
    ></svg-icon>
  </div>
</div>
<app-filter></app-filter>
<app-image-grid [apiData]="data"></app-image-grid>
