<div class="aside">
  <div class="logo">
    <img
      src="../../../assets/logo/bluecube3.png"
      alt="bluecube logo"
      width="30px"
    />
    <p>bluecube</p>
  </div>
  <div class="nav-section">
    <ul class="nav">
      <li class="nav-list">
        <a routerLinkActive="active" routerLink="">
          <svg-icon
            src="../../../assets/icons/home.svg"
            [svgStyle]="{ 'width.px': 20 }"
            [class]="['svgIcon']"
          ></svg-icon>
          <p>Home</p>
        </a>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/message.svg"
          [svgStyle]="{ 'width.px': 20 }"
          [class]="['svgIcon']"
        ></svg-icon>
        <p>Message</p>
      </li>
      <li>
        <p>SHARE</p>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/graph.svg"
          [svgStyle]="{ 'width.px': 20 }"
          [class]="['svgIcon']"
        ></svg-icon>
        <p>Ranking</p>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/challenge.svg"
          [svgStyle]="{ 'width.px': 20, height: 20 }"
          [class]="['svgIcon']"
        ></svg-icon>
        <p>Challenge</p>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/party.svg"
          [svgStyle]="{ 'width.px': 20, height: 20 }"
          [class]="['svgIcon']"
        ></svg-icon>
        <p>Party</p>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/link.svg"
          [svgStyle]="{ 'width.px': 20, height: 20 }"
          [class]="['svgLink']"
        ></svg-icon>
        <p>Connect</p>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/parade.svg"
          [svgStyle]="{ 'width.px': 20, height: 20 }"
          [class]="['svgIcon']"
        ></svg-icon>
        <p>Parade</p>
      </li>
      <li class="nav-list" routerLinkActive="active" routerLink="#">
        <svg-icon
          src="../../../assets/icons/group.svg"
          [svgStyle]="{ 'width.px': 20, height: 20 }"
          [class]="['svgPeople']"
        ></svg-icon>
        <p>Group</p>
      </li>
    </ul>
  </div>
</div>
